.btn-default-dropdown {
  border-color: rgb(133, 133, 133) !important;
  background-color: white !important;
  color: black !important;
}

.btn-default-dropdown:hover {
  background-color: white !important;
}
